{
  "FileVersion": 3,
  "Version": 1,
  "VersionName": "1.0.0",
  "FriendlyName": "{{unrealPluginName}}",
  "Description": "Generated API client for {{appName}}{{^appName}}{{unrealPluginName}}{{/appName}}.",
  "Category": "OpenAPI",
  "CreatedBy": "OpenAPI Generator",
  "Modules": [
    {
      "Name": "{{unrealModuleName}}",
      "Type": "Runtime",
      "LoadingPhase": "Default"
    }
  ]
}
